/* estilo geral */

/*  parte 1 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
    /* height: 100vh; */

    margin: 0px;

    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

header {
    background-color: rgb(107, 244, 107);
    color: white;
    text-align: center;

    padding: 1.5rem 1rem;
}

header h1 {
    font-size: 2rem;

    margin: 0px;
}

/*  parte 1 */
/*  parte 2 */

main {
    max-width: 1000px;

    padding: 1rem;
    
    margin: 2rem auto;
}

.intro {
    text-align: center;
    
    margin-bottom: 2rem;
}

.curiosidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/*  parte 2 */
/*  parte 3 */

.curiosidade-card {
    background-color: white;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    padding: 1rem;

    border-radius: 8px;
}

.curiosidade-card:hover {
    transform: scale(1.05);

    /* transform: translate(0px, -5px);
    box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.1); */
}

.curiosidade-card h3 {
    color:  rgb(80, 80, 241);
}

/*  parte 3 */
/*  parte 4 */

footer {
    background-color: lightgreen;
    color: white;
    text-align: center;

    padding: 1rem;

    margin-top: 2rem;
}

/* responsividade */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    .curiosidade-card {
        width: 90%;
    }
}

/*  parte 4 */