/* estilo geral */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
    /* height: 100vh; */

    margin: 0px;

    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

header {
    background-color: rgb(107, 244, 107);
    color: white;
    text-align: center;

    padding: 1.5rem 1rem;
}

header h1 {
    font-size: 2rem;

    margin: 0px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;

    background-color: hsl(0, 0%, 20%);
    
    padding: 0.5rem 0;
}

nav a {
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('header.avif');
    background-size: cover;
    background-position: center;
    color: white;
    height: 300px;
    text-shadow: 2px 2px 4px black;
}

.hero h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
}

main {
    max-width: 1000px;

    padding: 1rem;
    
    margin: 2rem auto auto auto;
}

h3 {
    font-weight: lighter;
}

.intro {
    text-align: center;
    
    margin-bottom: 2rem;
}

.curiosidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.curiosidade-card {
    transition: transform 0.3s ease;

    background-color: white;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    padding: 1rem;

    border-radius: 8px;
}

.curiosidade-card:hover {
    transform: translate(0px, -2.5px) rotate(1deg);
    box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.1);
}

.curiosidade-card h3 {
    color:  rgb(80, 80, 241);
}

/* galeria aqui! */

.video-section, .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;

    /* background-color: red; */
}

video, iframe {
    margin: 30px auto;
   
    width: 80%;
}


video, iframe {
    background-color: green;
    padding: 5px;

    border-style: solid;
    border-width: 5px;
    border-color: green;
    border-radius: 12.5px;
}

img {
    background-color: lightgreen;
    width: 70%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 300ms;

    padding: 5px;

    border-style: solid;
    border-width: 5px;
    border-color: lightgreen;
    border-radius: 50px;

    margin: 10px 10px;
}

img:hover {
    rotate: -1deg;
    translate: 0px -5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: lightgreen;
    color: white;
    text-align: center;

    padding: 1rem;

    margin-top: 2rem;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    .curiosidade-card {
        width: 90%;
    }
}

@media (min-width: 900px) {
    .galeria {
        flex-direction: row;
    }

    img {
        max-height: 200px;
    }
}

.lu {
    margin-left: 10px;
}